<div class="main_text">
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed">
{WebOrigin:easyarticle type="list" number="99"}
  <tr>
  	<td width="70"></td>
    <td width="49"><!--<img border="0" src="images/ecart_img/(WebOrigin:artid/).png">--></td>
    <td width="14"></td>
	<td><a href="(WebOrigin:path/)">(WebOrigin:title/)</a></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="70" height="7"></td>
    <td width="49"></td>
    <td width="14"></td>
	<td></td>
    <td></td>
  </tr>
{/WebOrigin}
</table>
</div>


<!--
<link href="inside/easyarticle[list]/style.css" rel="stylesheet" type="text/css" />

{WebOrigin:easyarticle type="list" number="99"}
	<h3><a href="(WebOrigin:path/)">(WebOrigin:title/)</a></h3>

	<p class="artlist">(WebOrigin:description size="200"/)<br/><span>(WebOrigin:date mode="yy-MM-dd"/)</span><a target="_blank" href="(WebOrigin:path/)">(WebOrigin:url/)(WebOrigin:path/)</a></p>
{/WebOrigin}

{WebOrigin:pagelist/}
-->